
<div class="container">
	<div class="col-lg-3"></div>
	<div class="col-lg-6">

<h1>Editing bio</h1>

<%= render 'form' %>

<%= link_to 'Show', @bio %> |
<%= link_to 'Back', bios_path %>
</div>
<div class="col-lg-3"></div>
