<div class="col-lg-3"></div>
<div class="col-lg-6">
<h1>Editing tclass</h1>

<%= render 'form' %>

<%= link_to 'Show', @tclass %> |
<%= link_to 'Back', tclasses_path %>
</div>
<div class="col-lg-3"></div>