<!--begin Jumbotron-->

<div class="jumbotron">

 <div class="container">

   <h1 class="tagline text-center ">

         
    <img src="../assets/tagline_1.png" class="img-responsive">


       
        

    </h1>
       <div class="row text-center">
     <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam sed nisi nec ante vulputate posuere at sodales massa. Sed at tempus nunc. Integer sagittis ultrices odio. Sed vulputate sodales dictum. Morbi hendrerit, eros eget dictum pellentesque, odio </h4>
    <%=link_to 'Get Started',root_path,class:"btn btn-primary btn-lg"%>
        
     <%=link_to 'Or get more info',root_path%>
    </div>


  </div>


</div>

<!--end Jumbotron-->