<!--begin Jumbotron-->
<div class="jumbotron">



	<div class="container">


       <!--begin navigation-->
      <nav class="navbar navbar-default" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#"><%=image_tag 'mark.png' %></a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">Company</a></li>

      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Services <b class="caret"></b></a>

        <ul class="dropdown-menu">
        	 <li><a href="#">Personal Training</a></li>
          <li><a href="#">MMA Fit</a></li>
          <li><a href="#">MMA Cardio</a></li>
          <li><a href="#">MMA Combat</a></li>

          <li class="divider"></li>
          <li><a href="#">Separated link</a></li>
          <li class="divider"></li>
          <li><a href="#">One more separated link</a></li>
        </ul>

      </li>

        <li><a href="#">Products</a></li>
          <li><a href="#">Blog</a></li>
            <li><a href="#">Support</a></li>
               <li><a href="#">Contact</a></li>



    </ul>
    
  </div><!-- /.navbar-collapse -->
</nav>











      <div class="row text-center">
       <h1>Lets get to work!</h1>

       <p><a class="btn btn-primary btn-lg" role="button">Learn More</a></p>

       </div>


	</div>





</div>
<!--end Jumbotron-->