<div class="container">

	<div class="col-lg-3">

       <h2 class="start_icon">Start</h2>


          <ul class="nav nav-pills nav-stacked">
  <li class="active"><a href="#">Home</a></li>
  <li><a href="#">User Area</a></li>
  
</ul>
	</div>

	<div class='col-lg-9'>

<p>Welcome to your dashboard</p>

	</div>


</div>
