<div class="container">
	<div class="col-lg-3"></div>
	<div class="col-lg-6">
<h1>Editing trainer</h1>

<%= render 'form' %>

<%= link_to 'Show', @trainer %> |
<%= link_to 'Back', trainers_path %>

 </div>
     <div class="col-lg-3"></div>
</div>
